.single-page-section-animated-header {
  .header-content {
    position: absolute;
    top: 300px;
    right: 10%;
    h1 {
      font-size: 42px;
      text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
    }
    .action {
      text-align: right;
    }
  }
}
